.input {
  background-color: var(--bg-0);
  border: none;
  padding: 1.35rem 1.35rem 1.35rem 3.2rem;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 29.5rem;
  color: var(--light-0);
  font-size: var(--font-body);

  &::placeholder {
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif, system-ui;
    opacity: 0.6;
    font-size: var(--font-body);
  }
}

.input-label {
  position: relative;

  img {
    position: absolute;
    inset: 0 0 0 1rem;
    opacity: 0.35;
  }
}
