:root {
  --bg-0: var(--blue-dark-1);

  --blue-dark-0: #111729;
  --blue-dark-1: #20293A;
  --blue-0: #3662E3;

  --purple-dark-0: #1D1B48;

  --grey-light-0: #364153;
  --grey-light-1: #4A5567;

  --light-0: #CDD5E0;
}
